@media (max-width: 600px){
    .header{
        position: sticky;
        top: 0;
        z-index: 1;
        background: #fff;
        height: 60px;
    }
    /* trai */
        .logo{
            padding-top: 12px;
            width: 145px;
            margin-left: -9px;
        }
    
    /* giua */
    .giua{
        display: none;
    }  

    /* phai */
        .upload img{
            width: 10px;
        }
        div>a{
            text-decoration: none;
        }
        .upload{
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
            color: black ;
            width: 90px;
            text-align: center;
            margin-top: 10px;
            margin-left: 30px;
            padding: 5px 10px;
            font-size: 17px;
            font-weight: 500;
            border-radius: 5px;
        }
        .upload a:hover{
            background:rgb(247, 244, 244) ;
        }

        .btn-login{
            margin-top: 10px;
            text-align: center;
            width: 120px;
            margin-left: 20px;
            background: #fc2550;
            padding: 5px 15px;
            font-size: 17px;
            color: white;
            font-weight: 500;
            border: none;
            border-radius: 5px;
        }
        .btn-login:hover{
            background:rgb(237, 51, 51) ;
        }
        

        /* item-menu------------------------------- */
        .dropbtn {
            width: 40px;
            margin-top: 10px;
            margin-left: 5px;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            visibility: hidden;
            width: 240px;
            position: absolute;
            margin-left: -180px;
            margin-top: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            backdrop-filter: blur(20px);
            z-index: 1;
            transition: 1.5s;
        }

        .dropdown-content ul li{
            padding: 7px 5px;
            list-style: none;
            margin-left: -20px;
            
        }
        .dropdown-content ul li a{
            text-decoration: none;
        }
        .dropdown-content ul li a .item{
            color: black;
            background: none;
            font-weight: 500;
        }
        .congtac{
            font-size: 25px;
            color: #020202;
            margin-left: 170px;
            margin-top: -30px;
        }
        .img-lienket{
            margin-left: 190px;
            margin-top: -18px;
            color: #fdfdfd;
            position: absolute;
        }
        .dropdown-content ul li a .item:hover {
            color: rgb(139, 80, 3);
        }
        .dropdown:hover .dropdown-content {
           visibility: inherit;
        }
          
    /* Main */
    /* list menu tren */
    .tren{
        position: fixed;
    }
    .item-tren{
        padding: 13px;
    }
        .item-home,.item-laban,.item-friends{
            position: absolute;
            width: 125px;
            background: rgb(70, 67, 67);
            margin-left: 20px;
            margin-top: -10px;
            padding: 10px 10px;
            border-radius: 10px;
            text-align: center;
            margin-bottom: 5px;
            color: #fff;
            visibility: hidden;
            z-index: 1;
        }

        .item-camera{
            position: absolute;
            width: 80px;
            background: rgb(70, 67, 67);
            margin-left: 35px;
            margin-top: -10px;
            padding: 10px 10px;
            border-radius: 10px;
            text-align: center;
            margin-bottom: 5px;
            color: #fff;
            visibility: hidden;
        }
        .item-tren:hover .item-home{
            visibility: inherit;
        }
        .item-tren:hover .item-friends{
            visibility: inherit;
        }
        .item-tren:hover .item-laban{
            visibility: inherit;
        }
        .item-tren:hover .item-camera{
            visibility: inherit;
        }
    
    /* main */
    .main{
        padding-top: 20px;
    }

    .avatar>a>img{
        margin-left: -30px;
        width: 70px;
        border-radius: 50%;
        height: 70px;
        cursor: pointer;

    }

    .btn-follow{
        padding: 3px 25px;
        height: 35px;
        color: #fe316a;
        border: 1px solid #fe316a;
        border-radius: 5px;
        background: none;
        font-size: 18px;
        cursor: pointer;
    }

    .btn-follow:hover{
        background: #ffe8ec;
    }
    .following {
        padding: 3px 20px;
        height: 35px;
        color: #191919;
        border: 1px solid #c0bdbe;
        border-radius: 5px;
        background: none;
        font-size: 18px;
        margin-left: -10px;
        cursor: pointer;
    }
    .following:hover{
        background: #f4f4f4;
    }


    .name{
        margin-left: -20px;
        font-weight: bold;
        width: 150px;
        color: black;
    }
    .name:hover{
        text-decoration: underline;
    }
    .cmt-tittle{
        width: 270px;
        margin-left: -20px;
    }
    .cmt-tittle>p{
        margin-bottom: 5px;
    }
    .item-cmt{
        color: black;
        font-weight: bold;
    }
    .item-cmt:hover{
        text-decoration: underline;
    }
    .video{
        margin-top: 15px;
        margin-left: 50px;
    }
    .video-item{
        width: 240px; 
        height: 400px;
        background: black;
    }
    .item-tim{
        margin-top: 200px;
        padding: 8px;
    }
    .btn-tim,.btn-cmt,.btn-share {
        border: none;
        background: #fff;
    }
    .btn-tim>p{
        margin-top: 5px;
        padding: 2px;
        font-size: 12px;
        font-weight: bold;
        color: #4e4b4b;
    }
    .btn-cmt>p{

        padding: 7.5px;
        font-size: 12px;
        font-weight: bold;
        color: #4e4b4b;
    }
    .btn-share>p{
        margin-top: -3px;
        padding: 7.5px;
        font-size: 10px;
        font-weight: bold;
        color: #4e4b4b;
    }
}

@media (max-width: 900px){
    .header{
        position: sticky;
        top: 0;
        z-index: 999;
        background: #fff;
        height: 60px;
    }
    /* trai */
        .logo{
            padding-top: 12px;
            width: 145px;
            margin-left: -9px;
        }
    
    /* giua */
    .giua{
        padding-top: 15px;
    }
        .search{
            background: #f1f1f2;
            width: 19rem;
            height: 41px;
            text-align: center;
            border-radius: 30px;
        }
        .search-form{
            display: flex;
            padding: 12px 16px;
            background: rgba(22, 24, 35, .06);
            border-radius: 92px;
            overflow: hidden;
            z-index: 1;
        }
        .search-form:focus-within {
            border-color: #020202;
            box-shadow: 0 0 0 1px #070707;
        }
    
        .input-search{
            margin-top: -2px;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            border: none;
            background: transparent;
            outline: none;
            padding: 0;
            width: 346px;
            color: rgba(22, 24, 35, 1);
            caret-color: rgb(1, 1, 1);
        
        }
        .btn-search{
            padding: 11px 16px 11px 12px;
            margin: -12px -16px;
            font-size: 0;
            cursor: pointer;
            outline: none;
            border: none;
            background: transparent;
            margin-left: 0;
        }
        .span{
            width: 5px;
            height: 30px;
            margin: -7px 0;
            background: rgba(22, 24, 35, .12);
        }
        .img-search{
            margin-left: -4px;
            margin-top: -4px;
            background: 0;
        }
    /* phai */
        .upload img{
            width: 10px;
        }
        div>a{
            text-decoration: none;
        }
        .upload{
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
            color: black ;
            width: 90px;
            text-align: center;
            
            margin-top: 10px;
            padding: 5px 10px;
            font-size: 17px;
            font-weight: 500;
            border-radius: 5px;
        }
        .upload:hover{
            background:rgb(247, 244, 244) ;
        }

        .btn-login{
            margin-top: 10px;
            text-align: center;
            width: 120px;
            margin-left: 20px;
            background: #fc2550;
            padding: 5px 15px;
            font-size: 17px;
            color: white;
            font-weight: 500;
            border: none;
            border-radius: 5px;
        }
        .btn-login:hover{
            background:rgb(237, 51, 51) ;
        }
        

        /* item-menu------------------------------- */
        .dropbtn {
            width: 40px;
            margin-top: 6px;
            margin-left: 15px;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            margin-left: -167px;
            visibility: hidden;
            width: 240px;
            position: absolute;
            margin-top: 7px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            backdrop-filter: blur(20px);
            z-index: 1;
            transition: 1.5s;
        }

        .dropdown-content ul li{
            padding: 7px 5px;
            list-style: none;
            margin-left: -20px;
            
        }
        .dropdown-content ul li a{
            text-decoration: none;
        }
        .dropdown-content ul li a .item{
            color: black;
            background: none;
            font-weight: 500;
        }
        
        .congtac{
            font-size: 25px;
            color: #020202;
            margin-left: 170px;
            margin-top: -30px;
        }
        .img-lienket{
            margin-left: 190px;
            margin-top: -18px;
            color: #fdfdfd;
            position: absolute;
        }

        .dropdown-content ul li a .item:hover {
            color: rgb(139, 80, 3);
        }
          
        .dropdown:hover .dropdown-content {
           visibility: inherit;
        }
          
        
    /* Main */


    /* list menu tren */
    .tren{
        position: fixed;
    }
    .item-tren{
        padding: 13px;
    }
        .item-home,.item-laban,.item-friends{
            position: absolute;
            width: 125px;
            background: rgb(70, 67, 67);
            margin-left: 20px;
            margin-top: -10px;
            padding: 10px 10px;
            border-radius: 10px;
            text-align: center;
            margin-bottom: 5px;
            color: #fff;
            /* visibility: hidden; */
            z-index: 1000;
        }

        .item-camera{
            position: relative;
            width: 80px;
            background: rgb(70, 67, 67);
            margin-left: 35px;
            margin-top: -10px;
            padding: 10px 10px;
            border-radius: 10px;
            text-align: center;
            margin-bottom: 5px;
            color: #fff;
            visibility: hidden;
            
        }
        .item-tren:hover .item-home{
            visibility: inherit;
        }
        .item-tren:hover .item-friends{
            visibility: inherit;
        }
        .item-tren:hover .item-laban{
            visibility: inherit;
        }
        .item-tren:hover .item-camera{
            visibility: inherit;
        }
    
    /* main */
    .main{
        padding-top: 20px;
    }

    .avatar>a>img{
        margin-left: -30px;
        width: 70px;
        border-radius: 50%;
        height: 70px;
        cursor: pointer;
    }

    .btn-follow{
        padding: 3px 25px;
        height: 35px;
        color: #fe316a;
        border: 1px solid #fe316a;
        border-radius: 5px;
        background: none;
        font-size: 18px;
        cursor: pointer;
    }

    .btn-follow:hover{
        background: #ffe8ec;
    }
    .following {
        padding: 3px 20px;
        height: 35px;
        color: #191919;
        border: 1px solid #c0bdbe;
        border-radius: 5px;
        background: none;
        font-size: 18px;
        margin-left: -10px;
        cursor: pointer;
    }
    .following:hover{
        background: #f4f4f4;
    }


    .name{
        margin-left: -20px;
        font-weight: bold;
        width: 150px;
        color: black;
        
    }
    .name:hover{
        text-decoration: underline;
    }
    .cmt-tittle{
        width: 270px;
        margin-left: -20px;
    }
    .cmt-tittle>p{
        margin-bottom: 5px;
    }
    .item-cmt{
        color: black;
        font-weight: bold;
    }
    .item-cmt:hover{
        text-decoration: underline;
    }
    .video{
        margin-top: 15px;
        margin-left: 50px;
    }
    .video-item{
        width: 240px; 
        height: 400px;
        background: black;
    }
    .item-tim{
        margin-top: 215px;
        padding: 4px;
        /* border:1px solid #020202; */
    }
    .btn-tim,.btn-cmt,.btn-share {
        border: none;
        background: #fff;
    }
    .btn-tim>p{
        margin-top: 5px;
        padding: 2px;
        font-size: 12px;
        font-weight: bold;
        color: #4e4b4b;
    }
    .btn-cmt>p{

        padding: 7.5px;
        font-size: 12px;
        font-weight: bold;
        color: #4e4b4b;
    }
    .btn-share>p{
        margin-top: -3px;
        padding: 7.5px;
        font-size: 10px;
        font-weight: bold;
        color: #4e4b4b;
    }
}
